@import "../../common/styles/variables.scss";

.heroOther {
  background-color: $hero-bg;

  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  .container {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    .heroOther__content {
      width: 50%;
      @media (max-width: 1024px) {
        width: 80%;
        text-align: center;
      }
      .heroOther__title {
        font-size: 7rem;
        color: $light-grey;
        margin-bottom: 50px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 20%;
          height: 8px;
          background-color: $primary-light;
        }

        @media (max-width: 1280px) {
          margin-top: 20px;
          font-size: 6rem;
          display: inline-block;
        }
        @media (max-width: 600px) {
          font-size: 4rem;
          &:after {
            width: 40%;
          }
        }
      }
      .heroOther__subtitle {
        margin-bottom: 10px;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2rem;
        white-space: pre-line;
        @media (max-width: 1280px) {
          font-size: 1rem;
        }
      }
      .heroOther__cta {
        display: block;
        // max-width: 200px;
        text-align: center;
        margin-top: 40px;
        @media (min-width: 600px) {
          max-width: 200px;
        }
      }
    }

    .heroOther__ilustration {
      object-fit: contain;
      width: 80%;
      @media (min-width: 1000px) {
        width: 40%;
      }
    }
  }
}
