@font-face {
  font-family: 'Montserrat-bold';
  src: local('Montserrat-bold'), url("~/src/fonts/Montserrat-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat-light';
  src: local('Montserrat-light'), url("~/src/fonts/Montserrat-ExtraLight.ttf") format('truetype');
}
