@import "../../common/styles/variables.scss";

.homehero {
  //   height: 100vh;
  padding: 80px 0;
  background-color: $light-grey;

  .container {
    .hero__blockquote {
      display: block;
      position: relative;
      background-color: #fff;
      padding: 20px;
      font-style: italic;

      .hero__quote{
        white-space: pre-line;
        font-size: 22px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    .text-highlight {
      color: $primary-dark;
    }
    @media screen and (max-width: 1000px) {
      .hero__image {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 6vh;
        text-align: center;
        @media screen and (min-width: 600px) {
          text-align: right;
        }
      }
      .hero__blockquote {
        margin-top: -120px;
        font-size: 0.9rem;
        z-index: 1;

        .hero__doublequote {
          display: none;
        }

        @media screen and (min-width: 600px) {
          font-size: 1rem;
          padding: 60px 40px;
          margin-top: -150px;
        }
      }
      .hero__text {
        margin-top: 40px;
        font-size: 4vh;
        text-align: center;
        .text-highlight {
          color: $primary-dark;
        }
        @media screen and (min-width: 600px) {
          // margin-top: 20px;
          font-size: 3rem;
        }
      }
      .hero__btn {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
      }
    }

    @media screen and (min-width: 1000px) {
      display: grid;
      grid-template: 50px 300px 80px 100px 100px / repeat(6, 1fr);
      //   grid-template: repeat(3, auto) / repeat(6, 1fr);
      @media screen and (min-width: 1400px) {
        grid-template: 100px 300px 80px 100px 100px / repeat(6, 1fr);
      }
      .hero__text {
        grid-row: 2/3;
        grid-column: 1/5;
        align-self: end;
        margin-bottom: 20px;
        font-size: 3rem;
        @media screen and (min-width: 1400px) {
          font-size: 4rem;
          grid-column: 1/5;
        }
      }
      .hero__btn {
        grid-row: 3/4;
        grid-column: 1/3;
        width: 220px;
        height: 60px;
        text-align: center;
      }
      .hero__image {
        grid-row: 2/4;
        grid-column: 4/7;
        text-align: end;
        padding-right: 20px;

        img {
          width: 400px;

          @media screen and (min-width: 1400px) {
            // width: 100%;
            width: auto;
          }
        }
      }
      .hero__blockquote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row: 3/6;
        grid-column: 4/7;
        height: 180px;
        padding: 40px 60px;
        position: relative;
        .hero__doublequote {
          position: absolute;
          top: -60px;
          left: 20px;
          width: 100px;
        }
        @media screen and (min-width: 1400px) {
          height: 160px;
          grid-row: 4/6;
        }
      }
    }
  }
}

// .homehero {
//   height: 100vh;
//   padding: 80px 0;
//   background-color: lightblue;

//   .container {
//     .hero__image {
//       position: relative;
//       width: 85%;
//       margin: 0 auto;
//       margin-top: 40px;
//       text-align: center;
//     }
//     .hero__blockquote {
//       position: absolute;
//       //   bottom: -10px;
//       top: 0;
//       background-color: #fff;
//       padding: 20px;
//       max-width: 90%;
//     }
//   }
// }
