backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
  repo: darena67/redeyecpa.com

publish_mode: editorial_workflow

media_folder: content/assets
public_folder: ../assets

collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    fields:
      - { name: path, label: Path }
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: description, label: Description }
      - { name: body, label: Body, widget: markdown }
      - { name: thumbnail,  label: FeaturedImage, widget: "image", required: false }
  - label: "Pages"
    name: "pages"
    files:
      - label: "Home Page"
        name: "HomePage"
        file: "content/pages/home.yml"
        fields:
          - {label: "Page Name", name: page, widget: string, required: false}
          - {label: "Hero Quote", name: hero_quote, widget: markdown}
          - label: "Home Services"
            name: "home_services"
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - label: "Service"
                name: service
                widget: list
                fields:
                  - {label: Text, name: text, widget: string}
      - label: "Blog Page"
        name: "blog"
        file: "content/pages/blog.yml"
        fields:
          - {label: "Page Name", name: page, widget: string, required: false}
          - {label: Intro, name: intro, widget: string}
      - label: "About Page"
        name: "about"
        file: "content/pages/about.yml"
        fields:
          - {label: "Page Name", name: page, widget: string, required: false}
          - {label: Intro, name: intro, widget: markdown}
          - label: Team
            name: team
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Position, name: position, widget: string, required: false}
              - {label: Photo, name: photo, widget: image}
              - {label: Description, name: desc, widget: markdown}
      - label: "Pricing Page"
        name: "pricing"
        file: "content/pages/pricing.yml"
        fields:
          - {label: "Page Name", name: page, widget: string, required: false}
          - {label: Intro, name: intro, widget: markdown, required: false}
          - label: Packages
            name: packages
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Description, name: desc, widget: string, required: false}
              - {label: Pricing, name: pricing, widget: string}
              - {label: "Feature Title", name: feature-title, widget: string}
              - label: "Feature"
                name: feature
                widget: list
                fields:
                  - {label: Text, name: text, widget: string}
      - label: "Services Page"
        name: "services"
        file: "content/pages/services.yml"
        fields:
          - {label: "Page Name", name: page, widget: string, required: false}
          - {label: Intro, name: intro, widget: markdown, required: false}
          - label: Services
            name: services_list
            widget: list
            fields:
              - {label: Title, name: title, widget: string}
              - {label: "Sub Title", name: subtitle, widget: string}
              - {label: Description, name: desc, widget: string, required: false}
              - {label: "Service Image", name: service_image, widget: image}            
      - label: "Contact Page"
        name: "contact"
        file: "content/pages/contact.yml"
        fields:
          - {label: "Page Name", name: page, widget: string, required: false}
          - {label: Intro, name: intro, widget: markdown, required: false}
          - {label: Phone, name: phone, widget: string, required: false}
          - {label: Email, name: email, widget: string, required: false}
          - {label: "Facebook link", name: fb, widget: string, required: false}
          - {label: "LinkedIn link", name: linkedin, widget: string, required: false}
          - {label: Address, name: address, widget: markdown, required: false}