@import "../../common/styles/variables.scss";

.aboutInfolist {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 90%;
    max-width: 500px;
  }
  ul {
    margin-top: 60px;
    li {
      display: flex;
      margin-bottom: 15px;
      .icon {
        color: $primary-light;
        margin-right: 10px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1150px;
    ul {
      flex-basis: 50%;
      margin: 0;
      font-size: 1.2rem;
      li {
        margin-bottom: 20px;
        line-height: 1.5;
      }
    }
  }
}
